[user]
	name = shuk
	email = biz.shuk@gmail.com
[merge]
	log = 25
[color]
	log = auto
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
	co = checkout
	ci = commit
	st = status
    br = branch
    ca = cat-file
    lt = ls-tree -r
    lr = ls-remote
    lf = ls-files
	logv = log --name-status --graph --decorate
	rollback = checkout
[pack]
	windowMemory = 25m
	SizeLimit = 25m
	threads = 1
[log]
	date = local
[core]
	editor = vim
	quotepath = false
[credential]
    helper = cache --timeout=3600
#    helper = store         # save credential forever , with option "--file <file>"
[http]
	sslVerify = false
[push]
	default = current
[commit]
    template = ~/.gitmessage
